.suggestion-outer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
    height: fit-content;
    position: sticky;
    top:2rem;
}

.profile{
    display: flex;
    gap: 1rem;
    align-items: center;
    border-top: 1px solid;
    padding: .5rem;
    text-align: left;

}


.profile-pic{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}